/*
Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
*/


body {
    background-image: url("../images/background.png");
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #fff !important;
    margin: 0;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18pt;
    font-weight: bold;
}

a {
    color: #777;
    text-decoration: none;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.portfolioAnchor {
    padding: 0 !important;
}

.container {
    background-color: #fff;
}

h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: solid 2px #ddd;
    color: #4aaaa5;
    padding-bottom: 30px;
    font-size: 22pt;
    margin: 24.347px 0;
    font-weight: bold;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #8e8e93;
    line-height: 2.5;
}

#navDiv {
    padding: 0;
}

#portfolioAnchor {
    border-left: solid 1px;
    /* border-right: solid 1px; */
    border-color: #eee;
}


/* main img {
    height: 320px;
    widows: 320px;;

    Commented out because it was breaking responsiveness
} */

.redBorder {
    border: red 2px solid;
}



/* Copied from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }
  /* ******************************************************************************** */



  footer {
      margin-top: 50px;
      background-color: #666;
      border-top: solid 10px #4aaaa5;
      font-size: 10pt;
  }

  #footerContainer {
    background-color: #666;
  }

  footer a {
    color: inherit;
  }

  #footerP p {
      color: #bbb;
      margin-bottom: 0;
      padding-top: 20px;
      float: left;
  }

  button {
      background-color: #4aaaa5;
      color: #fff;
      margin-bottom: 20px;
  }

  form {
      color: #777;
  }

  .portfolioImg {
      position: relative;
      padding: 0;
  }

  .centered-bottom {
      position: absolute;
      background-color: #4aaaa5;
      color: #fff;
      padding: 10px 0;
      position: absolute;
      bottom: 50px;
  }

  ul {
      flex-direction: row !important;
  }

  li {
      padding: 8px !important;
  
    }

    .portfolioImg {
        margin: 0 20px 20px 20px;
    }

    #aboutPic {
        max-width: 670px;
        max-height: 600px;
        margin-right: 20px;
    }

    .marginTop {
        margin-top: 50px;
    }
    
    .img-fluid {
        width: 100%;
        height: auto;
        padding: 15px 0px;
    }

    .portfolioButtons {
        padding-top: 30px;
        padding-bottom: 20px
      }
    
    
    @media only screen and (max-width: 767px) {
        .navbar-header {
            background-color: #4aaaa5;
            width: 100%;
            text-align: center;
        }
        .nav {
            margin: 0 auto;
        }
    }

    #navContainer {
        margin-bottom: 50px;
    }